@model IEnumerable<ScheduleApp.Models.Session>

@{
    ViewBag.Title = "UsersUpcoming";
}

<h2>UsersUpcoming</h2>

<p>
    @Html.ActionLink("Sign Up for Appointment", "SignUp")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subjects.TutorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.OrderBy(item => item.Start_Date)) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subjects.TutorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Start_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.End_Date)
        </td>
        <td>
            @Html.ActionLink("Cancel Appointment", "Delete", new { id = item.Id, whoDel = 'u' })
        </td>
    </tr>
}

</table>
